<div class="row" style="padding: 20px;">
    <h4 class="text-center text-info" th:text="${news.title}"></h4>
    <p class="text-warning">content</p>
    <div class="text-muted" th:utext="${news.content}">

    </div>
    <div style="background-color: #2a6496; height: 2px;width: 100%;"></div>
    <div style="padding: 10px;">
        <p>Comment list</p> <a class="btn btn-blue" th:attr="pid=${news.id}" onclick="AddComment(this)">Comment</a>
    </div>
    <div style="height: 300px;overflow: auto;">
        <table class="table bordered-1 " id="potable">
            <tr style="display: none;"></tr>
            <tr th:each="comment:${news.comments}">
                <td th:text="${comment.userName}" class="col-sm-3 text-info"></td>
                <td th:text="${comment.content}" class="col-sm-9"></td>
            </tr>
        </table>
    </div>
</div>
<script>
    function AddComment(b) {
        var indexp = layer.prompt({title: 'Comment', formType: 2, btn: ['Yes','No']}, function(text, index){
            if(text!=""){
                $.ajax({
                    url:"/comment/add",    //url address
                    dataType:"json",   //return json
                    type:"POST",   //way
                    data:{
                        newsId:$(b).attr("pid"),
                        content:text
                    },
                    success:function(req){
                        if(req === 1){
                            layer.close(indexp);
                            layer.alert("Comment successful",{
                                btn: ['Yes']
                            });
                            $("#potable").find("tr").eq(0).before('<tr><td>Your comments</td><td>'+text+'</td></tr>')
                        }
                        if (req === 0){
                            location.href="user/login"
                        }if (req === 2){
                            layer.close(indexp);
                            layer.alert("Comment abuse, please try again",{
                                btn: ['Yes']
                            });
                        }

                    }

                });
            }
        });
    }
</script>