<div th:each="news:${newsList}"   class="tab-pane in active">
    <div style="background-color: #2a6496; height: 2px;width: 100%;"></div>
    <p><a href="#" th:text="${news.title}" th:attr="pid=${news.id}" onclick="newsInfo(this)"></a></p>
    <p>
        <span th:text="'Author:'+${news.author}"></span>
        <span style="margin-left: 300px;" th:text="'Time：'+${news.date}">Date</span>
        <span style="margin-left: 300px;" th:text="'Read times：'+${news.num}">Times</span>
    </p>
    <p>
        <a onclick="tipList(this)" href="#" th:attr="tip=${tip.tip}" th:each="tip:${news.tips}" th:text="'#'+${tip.tip}"></a>
    </p>
</div>
<script>
    function newsInfo(b) {
        $.ajax({
            url:"/news/info",    //url address
            dataType:"html",   //return json
            type:"POST",   //way
            data:{
                id:$(b).attr("pid")
            },
            success:function(req){
                layer.open({
                    type: 1,
                    skin: 'layui-layer-rim', //add frame
                    title:'News info',
                    area: ['960px', '600px'], //weight
                    content: req
                });
            }
        });
    }

    function tipList(b) {
        $.ajax({
            url:"/news/listByTip",    //url address
            dataType:"html",   //return json
            type:"POST",   //way
            data:{
                tip:$(b).attr("tip")
            },
            success:function(req){
                layer.open({
                    type: 1,
                    skin: 'layui-layer-rim', //add frame
                    title:'News list',
                    area: ['960px', '480px'], //weight
                    content: req
                });
            }
        });
    }

</script>