<div class="row" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="widget-body">
        <div class="table-toolbar">
            <a href="javascript:void(0);" onclick="save()" class="btn btn-default btn-success">
                Add type
            </a>
        </div>
        <table class="table table-striped table-hover table-bordered" id="editabledatatable">
            <thead>
            <tr role="row">
                <th>
                    ID
                </th>
                <th>
                    name
                </th>
                <th>
                    create time
                </th>
                <th>
                    update time
                </th>
                <th>
                    operate
                </th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="newsType:${list}">
                <td th:text="${newsType.id}"></td>
                <td th:text="${newsType.name}"></td>
                <td th:text="${newsType.createTime}">alex</td>
                <td th:text="${newsType.updateTime}">Alex Nilson</td>
                <td>
                    <div class="btn-group">
                        <a href="#" th:attr="pid=${newsType.id},pName=${newsType.name}" onclick="save(this)"
                           class="btn btn-info btn-xs"><i class="fa fa-edit"></i> edit</a>
                        <a href="#" th:attr="pid=${newsType.id},pName=${newsType.name}" onclick="del(this)"
                           class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</div>
<input id="userId" hidden/>
<div class="row" id="userInfo" style="display: none;padding: 10px;">
    <div>
        <div class="widget">
            <div class="widget-body">
                <div class="collapse in">
                    <form role="form">
                        <div class="form-group">
                            <label>Type name</label>
                            <input type="text" class="form-control input-sm userName" user_name placeholder="Type name">
                        </div>
                    </form>
                    <a href="javascript:void(0);" class="btn btn-primary" onclick="saveData()">save</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/js/jquery-2.0.3.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/beyond.min.js"></script>
<script src="../assets/js/datatable/jquery.dataTables.min.js"></script>
<script src="../assets/js/datatable/ZeroClipboard.js"></script>
<script src="../assets/js/datatable/dataTables.tableTools.min.js"></script>
<script src="../assets/js/datatable/dataTables.bootstrap.min.js"></script>
<script src="../assets/js/datatable/datatables-init.js"></script>
<script src="../layer/layer.js"></script>
<script>
    InitiateEditableDataTable.init();
    $(".DTTT").hide();

    function save(b) {
        var name;
        if (b) {
            $("#userId").val($(b).attr("pid"));
            name = $(b).attr("pname");
        } else {
            $("#userId").val("");
            name = "";
        }
        layer.open({
            type: 1,
            title: "Edit type",
            skin: 'layui-layer-rim', //frame
            area: ['320px', '220px'], //heignt weight
            content: $("#userInfo").html().replace("user_name", 'value="' + name + '"')
        });
    }

    function saveData() {
        layer.confirm('Are you sure you want to save？？', {
            btn: ['Yes', 'Cancel'] //button
        }, function () {
            $.ajax({
                url: "/newsType/save",    //url address
                dataType: "text",   //return json
                type: "POST",   //way
                data: {
                    id: $("#userId").val(),
                    name: $(".userName").eq(1).val()
                },
                success: function (req) {
                    layer.closeAll();
                    $("#newsTypeMsg").click();
                }
            });
        }, function () {
        });
    }

    function del(b) {
        layer.confirm('Are you sure you want to delete？', {
            title: 'info', btn: ['Yes', 'Cancel'] //button
        }, function () {
            $.ajax({
                url: "/newsType/del",    //url address
                dataType: "text",   //return json
                type: "POST",   //way
                data: {
                    id: $(b).attr("pid")
                },
                success: function (req) {
                    layer.closeAll();
                    $("#newsTypeMsg").click();
                }
            });
        }, function () {
        });
    }

</script>